{% extends 'layout.html' %}
{% load static %}
{% block title %}Thoughts on - {{i.title}}{% endblock %}
{% block header %}
{% endblock %}
{% block main%}
<a class='go-back' href="{% url 'home' %}">GO BACK</a>
<section class='each-heading' style="margin: 2em 0">
    {% include 'body.html' %}
    {% autoescape off %}
    {% if i.text %}
    <div class='paddit textss'>{{i.text }}</div>
    {% endif %}
    {% endautoescape %}
</section>
<p class='comments-name'>Comments</p>
{% include 'comments_block.html' %}
{% endblock %}
