<nav class='navbar'>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'listing' page_obj.number %}?type=story">Stories</a>
    <a href="{% url 'listing' page_obj.number %}?type=job">Jobs</a>
    <a href="{% url 'listing' page_obj.number %}?type=poll">Polls</a>
    <a href="{% url 'listing' page_obj.number %}?past=past">Past</a>
    <a href="{% url 'schema-swagger-ui' %}">Swagger API Docs</a>
    <a href="{% url 'schema-redoc' %}">Redoc API Docs</a>
    <a href="{% url 'api-root' %}">DRF API Docs</a>
</nav>
